@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@{
    Layout = null;        // This will disable the default layout in Shared/_Layout.cshtml
}*@


<!--13.3.1.1. Accessing Data in a Template -->
@*<p>Our viewBag property is: @ViewBag.testProperty</p>
<p>Our ViewBag vegetable is: @ViewBag.vegetable</p>*@


<form method='post' action='/hello'>
    <input type='text' name='name' />
    <input type='submit' value='Greet Me!' />
</form>
